# Pushing

Follow these guidelines when pushing to the main branch:
1. give the summary of the changes in 1 line for changelog.md before executing the following steps because I need to copy and paste it.
2. create changeset with `npm run changeset`.
3. apply the changeset with `npm run changeset version`
4. Run `npm run format:fix` to format the code
5. git add .
6. git commit with the message used at the 1st step
7. git push
7. Deploy to the marketplace with `npm run publish:marketplace`
